/* Global */
:root {
  /* Margin */
  --dropcontent-margin: 10px;

  /* Colors */
  --placeholder-color: #ebebeb;
  --bright-gray: #d4dcdd;
  --gray: #6c7175;
  --dark-gray: #414649;
  --blue: #0099ff;
  --dark-blue: #006ccb;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 0;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

input {
  padding: 0 0 0 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: var(--placeholder-color);
  border-radius: 5px;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

/* Header */
header {
  padding: 10px 30px;
}

header img {
  width: 150px;
  height: 50px;
}

/* Content */
.content {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.maincontent {
  display: flex;
  flex-direction: column;
}

/* Drop Content */

.dropcontent {
  padding: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

/* Table Top */
.table__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table__top .top__year {
  padding: 10px;
  width: 100px;
  text-align: center;
}

.table__top .top {
  padding: 10px;
  width: 300px;
  text-align: center;
}

/* Dropboxes */
.dropbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropbox .box__year {
  margin: var(--dropcontent-margin);
  width: 100px;
  line-height: 120px;
  text-align: center;
  font-size: 25px;
}

.dropbox .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: var(--dropcontent-margin);
  width: 300px;
  height: 120px;
  border-radius: 5px;
  background-color: var(--bright-gray);
}

/* Add Year Button */
.addyear {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.addyear .addbtn {
  margin: var(--dropcontent-margin);
  width: calc(900px + var(--dropcontent-margin) * 4);
  height: 40px;
}

button.btn__addyear {
  width: 100%;
  height: 100%;
  background-color: var(--bright-gray);
  color: white;
}

button.btn__addyear:hover {
  transition: 0.5s;
  box-shadow: inset 0 3em 0 0 var(--gray);
}

/* Show My Path button */
.buttons {
  display: flex;
  flex-direction: row-reverse;
}

.buttons .showpathbtn {
  margin: var(--dropcontent-margin);
  width: 200px;
  height: 40px;
}

button.btn__showpath {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  color: white;
}

button.btn__showpath:hover {
  transition: 0.5s;
  box-shadow: inset 16em 0 var(--dark-blue);
}

/* Back button */

.buttons .backbtn {
  margin: var(--dropcontent-margin);
  width: 100px;
  height: 40px;
}

button.btn__back {
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  color: white;
}

button.btn__back:hover {
  transition: 0.5s;
  box-shadow: inset -8em 0 var(--dark-gray);
}

/* Course Select Contents */
.selectcontent {
  padding: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

/* Course Content Top */
.coursetop {
  display: flex;
  flex-direction: row;
}

.coursetop .title {
  padding-left: 250px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
}

/* Search Box */

.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 300px;
  height: 40px;
  border-radius: 5px 5px 0 0;
  background-color: var(--bright-gray);
}

.searchinput {
  width: 220px;
  height: 30px;
}

.searchbtn {
  margin-left: 10px;
  width: 35px;
  height: 30px;
  background-color: var(--blue);
}

.searchbtn i {
  color: white;
}

.searchbtn:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

/* Course Table */
.coursetable {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 0 5px 5px 5px;
  background-color: var(--bright-gray);
}

.tabletop,
.coursebox {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Table Top*/

.top__core {
  width: 450px;
  text-align: center;
}

.top__major1,
.top__major2 {
  width: 300px;
  text-align: center;
}

.box__core {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 450px;
  min-height: 120px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--placeholder-color);
}

.box__major1,
.box__major2 {
  margin-left: 5px;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--placeholder-color);
}

/* Course Card */
.coursecard {
  margin: 10px 15px 10px 15px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  text-align: center;
  line-height: 40px;
}

/* Footer */

footer {
  height: 100px;
}
