/* Admin Mainpage  */
.home-component {
  width: 90vw;
  min-width: 1000px;
  margin: 20px auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Admin Page TopBar */
.top-bar {
  padding: 15px 70px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 10px -8px var(--bright-gray);
}
.top-bar a {
  box-shadow: none;
}
.top-bar .logo {
  width: 130px;
}

/* toolbar */
.toolbar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 10px auto;
}

.search-bar {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}

.search-bar input {
  height: 35px;
}

.search-bar .btn-search {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: var(--blue);
}
.search-bar .btn-search:hover {
  color: var(--blue);
  background-color: white;
}

.toolbar-btn-grp {
  display: flex;
  column-gap: 10px;
}

/* Tab Component */
.tab-component {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}

.tabs {
  margin: 10px;
  display: flex;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}

.tab {
  /* tab in normal form */
  background-color: var(--placeholder-color);
  color: var(--dark-gray);
  padding: 10px;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}
.tab:hover {
  background-color: var(--bright-gray);
  transition: all 0.5s;
}
.tab-selected {
  /* tab which was selected */
  background-color: white;
  color: var(--blue);
  transition: all 0.5s;
}
/* TabContent */
.tab-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tab-content-item {
  padding: 10px;
  margin: 5px 0;
  background-color: var(--gray);
  color: white;
  display: grid;
  grid-template-columns: 150px 1fr 50px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}
.tab-content-btn-grp {
  display: flex;
  justify-content: space-between;
}
.btn-edit {
  cursor: pointer;
}

/* btn styling */
.btn-blue {
  padding: 0 10px;
  height: 40px;
  color: white;
  background-color: var(--blue);
}
.btn-blue:hover {
  color: var(--blue);
  background-color: white;
}

.btn-internal-gray {
  padding: 0 10px;
  height: 40px;
}
.btn-internal-gray:hover {
  color: var(--light-blue);
  background-color: white;
}

.btn-red {
  padding: 0 10px;
  height: 40px;
  color: white;
  background-color: var(--dark-red);
}
.btn-red:hover {
  color: var(--dark-red);
  background-color: white;
}

.btn-gray {
  padding: 0 10px;
  height: 40px;
  color: white;
  background-color: var(--gray);
}
.btn-gray:hover {
  color: var(--gray);
  background-color: white;
}

/* filter - component */
.filter-component {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 15%;
  height: 558px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}
.filter-text {
  margin-bottom: 40px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 10px 10px -8px var(--bright-gray);
}
.filter-component h2 {
  margin: 20px 0 10px 0;
  font-size: 18px;
}
.filter-option {
  /* padding-bottom: 1px; */
  display: flex;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  align-items: center;
  column-gap: 5px;
}
.filter-btn {
  margin-top: auto;
  align-self: center;
  width: 150px;
  height: 30px;
  font-size: 12px;
}

/* Loader and error message*/
.loader {
  border: 10px dotted #f3f3f3;
  border-radius: 50%;
  margin: auto;
  width: 65px;
  height: 65px;
  animation: spin 1s ease-in infinite;
}

@keyframes spin {
  0% {
    border-bottom: 10px dotted #6c7175;
    border-left: 10px dotted #414649;
  }

  25% {
    border-left: 10px dotted #6c7175;
    border-top: 10px dotted #414649;
  }

  50% {
    border-top: 10px dotted #6c7175;
    border-right: 10px dotted #414649;
  }

  100% {
    border-right: 10px dotted #6c7175;
    border-bottom: 10px dotted #414649;
  }
}

.error {
  margin: auto;
}

/* Message Box*/
.black-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
  overflow: auto;
}
.message-box {
  position: fixed;
  padding: 30px;
  background-color: var(--placeholder-color);
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}
.message-box-btn-grp {
  display: flex;
  justify-content: space-around;
}
.message-box-btn {
  z-index: 3;
}
