.UserMain {
  display: flex;
  flex-direction: column;
}

/* Header */
.UserMain header {
  padding: 20px 50px 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px -8px var(--bright-gray);
}
.UserMain header a {
  box-shadow: none;
}
.UserMain header .logo {
  margin-right: 50px;
  width: 130px;
}

/* Credit */
.credit {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  min-width: 90px;
}

.credit .current-credit {
  font-size: 12px;
}

.credit .num {
  margin-top: 2px;
  display: flex;
  align-items: baseline;
}

.credit .num .current-credit-num {
  margin-right: 5px;
  font-weight: bolder;
  font-size: 28px;
}

.credit .num .total-credit {
  font-size: 13px;
}

/* Color Legend */
.color-legend {
  margin-left: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 200px;
  height: 50px;
  border-radius: 5px;
}
.color-legend-item {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.color-box-compulsory {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-color: var(--blue);
  border-radius: 5px;
}
.color-box-electives {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-color: var(--light-blue);
  border-radius: 5px;
}

/* error message */
.error-n-warn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.error-msg {
  padding: 10px 0;
  margin: auto;
  font-weight: bolder;
  font-size: 15px;
  color: var(--red);
}
.warning-msg {
  font-weight: bolder;
  font-size: 15px;
  color: var(--yellow);
  margin: auto;
}

.warning-msg ul {
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}

.warning-msg li {
  float: left;
  margin: 0 30px 0 0;
  font-size: 13px;
}

/* Content */
.content {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

/* Drop Table */
.droptable {
  display: flex;
  flex-direction: column;
}

.pdf-area {
  display: flex;
  flex-direction: column;
}

/* Table Header */
.droptable .tableHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.droptable .tableHeader .header__year {
  padding: 0 10px 5px 10px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.droptable .tableHeader .header__tri {
  padding: 0 10px 5px 10px;
  width: 280px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

/* Dropboxes */
.DropBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.DropBox .box__year {
  margin: var(--dropcontent-margin);
  width: 100px;
  line-height: 120px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.DropBox .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: var(--dropcontent-margin);
  width: 280px;
  height: 120px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}
.DropBox .box-allowed {
  background-color: rgb(61, 219, 161, 0.5);
}

/* Add Year Button */
.handleYear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.handleYear .blank {
  width: 110px;
}

button.btn__addYear {
  margin: var(--dropcontent-margin);
  width: calc(800px + var(--dropcontent-margin) * 4);
  height: 30px;
  font-weight: bolder;
  color: var(--dark-gray);
  background-color: white;
}
button.btn__addYear:hover {
  background-color: var(--bright-gray);
}

/* Delete Year Button */
button.deleteYear {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 30px;
}

button.btn__deleteyear {
  background-color: white;
  height: 30px;
  width: 30px;
}
button.btn__deleteyear:hover {
  background-color: var(--bright-gray);
}

button.btn__deleteyear .iconTrashCan {
  color: var(--red);
}

/* Show My Path & Back buttons */
.buttons {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Back button */
.buttons .link__back {
  margin: var(--dropcontent-margin);
  width: 100px;
  height: 35px;
  background-color: var(--gray);
  color: white;
}
.buttons .link__back:hover {
  background-color: white;
  color: var(--gray);
}

/* Clear Course button */
.buttons .btn-clear {
  margin: var(--dropcontent-margin);
  width: 100px;
  height: 35px;
  color: var(--gray);
  background-color: white;
}
.buttons .btn-clear:hover {
  color: white;
  background-color: var(--gray);
}

/* Show My Path button */
.buttons .btn__showpath {
  margin: var(--dropcontent-margin);
  width: 200px;
  height: 35px;
  background-color: var(--blue);
  color: white;
}
.buttons .btn__showpath:hover {
  background-color: white;
  color: var(--blue);
}

.buttons .btn-export {
  margin: var(--dropcontent-margin);
  width: 100px;
  height: 35px;
  color: white;
  background-color: var(--red);
}
.buttons .btn-export:hover {
  color: var(--red);
  background-color: white;
}

/****************************/
/* <SelectCourse> component */
.SelectCourse {
  margin: 20px 0 20px 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableHeader,
.courseBox {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Table Top*/

.header__core {
  padding-bottom: 10px;
  width: 420px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 10px 10px -8px var(--bright-gray);
}

.header__major1,
.header__major2 {
  margin-left: 10px;
  padding-bottom: 10px;
  width: 280px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 10px 10px -8px var(--bright-gray);
}

.box__core {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 420px;
  min-height: 120px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}

.box__major1,
.box__major2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 280px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}

/**************************/
/* <Course Card> component*/
.CourseCard {
  margin: 10px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--light-blue);
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  box-shadow: 0px 0px 4px 1px var(--card-shadow-gray);
}

.CourseCard-name {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 10px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--light-blue);
  color: white;
  text-align: center;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  box-shadow: 0px 0px 4px 1px var(--gray);
}

.course-compulsory {
  background-color: var(--blue);
}

/* Save As Message Box */
.exportas-msgbox {
  padding: 10px;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px var(--gray);
}

.exportas-msgbox .btn-cancel {
  position: absolute;
  top: 4%;
  right: 2%;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: white;
  background-color: var(--dark-gray);
}
.exportas-msgbox .btn-cancel:hover {
  background-color: var(--gray);
}

.exportas-msgbox h2 {
  margin: 0;
  font-size: 17px;
  font-weight: bolder;
}

.export-btn-group {
  margin: 30px 0 10px;
}
.export-btn-group > button {
  margin: 10px;
  width: 80px;
  height: 40px;
  color: white;
  background-color: var(--gray);
}
.export-btn-group > button:hover {
  color: white;
  background-color: var(--blue);
}
