.Notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lbl__notification {
  font-size: 28px;
  font-weight: 600;
}

.btn__okay {
  margin: 70px 0 10px 0;
  width: 80px;
  height: 40px;
  background-color: var(--blue);
  color: white;
}

.btn__back {
  margin: 10px 0 50px 0;
  width: 60px;
  height: 40px;
  background-color: var(--gray);
  color: white;
}
