.manage-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}
.manage-form-title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bolder;
}

.form-control {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.form-control input {
  margin-left: 20px;
  height: 35px;
  width: 250px;
  box-shadow: 0px 10px 10px -8px var(--bright-gray);
}
.form-control button {
  margin-left: 20px;
  height: 35px;
  font-size: 14px;
}

.form-control-buttons {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-control-buttons .btn-blue {
  width: 120px;
}

/* Manage Components */
.manage-component {
  padding: 20px;
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  min-width: 900px;
  border-radius: 10px;
  position: relative;
  background-color: white;
}
.manage-component h3 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}

.x-mark {
  position: absolute;
  right: 10px;
  top: 10px;
}

.item-table {
  margin: auto;
  padding: 20px 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}
.item-table th {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bolder;
  box-shadow: 0px 10px 10px -8px var(--bright-gray);
}
.item-table tbody {
  box-shadow: 0px 10px 10px -8px var(--bright-gray);
}
.item-table tfoot {
  margin-top: 10px;
}
.item-table td {
  padding: 5px 15px;
  font-weight: bold;
  text-align: center;
}
.item-table td button {
  width: 80px;
}
.item-table td > input {
  height: 35px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--placeholder-color);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px var(--bright-gray);
}
.item-table td > .select-type {
  width: 200px;
  height: 40px;
}
/* Course Availability Campus DropDown */
.campus-dropdown {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Assumed Knowledge DropDown */
.dropdown-list {
  width: 350px;
  height: 40px;
}
