/* Import Goolge Font */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Roboto:wght@300&display=swap');
:root {
  /* Margin */
  --dropcontent-margin: 10px;

  /* Colors */
  --placeholder-color: #ebebeb;
  --bright-gray: #d4dcdd;
  --gray: #6c7175;
  --dark-gray: #414649;
  --red: #b85252;
  --dark-red: #84232a;
  --blue: #0099ff;
  --dark-blue: #006ccb;
}

.App {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  border-radius: 5px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 0;
  border: none;
  border-radius: 5px;
}

input {
  padding: 0 0 0 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: var(--placeholder-color);
  border-radius: 5px;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}
