/* Global */
:root {
  /* Padding */
  --textninput-padding: 0 0 5px 0;
  /* Colors */
  --placeholder-color: #ebebeb;
  --red: #b85252;
  --blue: #0099ff;
  --dark-blue: #006ccb;
}

button {
  padding: 0;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

input {
  padding: 0 0 0 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: var(--placeholder-color);
  border-radius: 5px;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/* Logo */
.logo img {
  padding-bottom: 80px;
  width: 350px;
}

/* Name Input */
.nameinput {
  padding-bottom: 10px;
}

.passwordinput {
  padding-bottom: 20px;
}

.adminname,
.password {
  height: 40px;
  line-height: 40px;
}

.nameinput input,
.passwordinput input {
  height: 40px;
  width: 340px;
}

/* Log in Button */
button.loginbtn {
  margin-bottom: 10px;
  width: 350px;
  height: 40px;
  background-color: var(--blue);
  color: white;
}

button.loginbtn:hover {
  transition: 0.5s;
  box-shadow: inset 28em 0 var(--dark-blue);
}

/* Error Message Box*/
.messagebox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-radius: 5px;
  background-color: var(--red);
  width: 350px;
}

.messagebox i {
  margin: auto 0 auto 10px;
  font-size: 25px;
  color: white;
}
.errormessage {
  padding: 10px;
  font-size: 14px;
  color: white;
}
